@using BlogBlazor.entities;
@using System.Text.Json;
@using BlogBlazor.entities;
@using Newtonsoft.Json;

@page "/blog"

<h3>Blog</h3>

<div class="container">
    <h1>Sample Blog for Otawise</h1>
   
    @foreach (var result in blogItems)
    {
        <div>
            <BlogItem Title=@result.Title
                  Description=@result.Description
                  PublicationDate=@result.PublicationDate />
        </div>
        
    }


</div>

<Footer/>



@code {
    private List<data> blogItems;

    protected override async Task OnInitializedAsync()
    {
        blogItems = await ThirdPartyBlog();
    }

    private async Task<List<data>> ThirdPartyBlog()
    {
        using (HttpClient client = new HttpClient())
        {
            var response = await client.GetAsync("https://mocki.io/v1/d33691f7-1eb5-45aa-9642-8d538f6c5ebd");
            response.EnsureSuccessStatusCode();

            string body = await response.Content.ReadAsStringAsync();

            var apiResponse = JsonConvert.DeserializeObject<ApiResponse>(body);

            var res = apiResponse.Data;

            return res;
        }
    }

}

